#root {
  height: 100vh;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(50, 46, 46);
  cursor: pointer;
  color: white;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 350px;
}

@media (min-width: 650px) {
  .message-container {
    width: 600px;
  }

  input {
    width: 600px;
  }
}
